.body {
  background: url("bg.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}

.logoPicture {
  position: absolute;
  width: 4%;
  height: 8%;
  left: 5%;
  top: 19px;
}

.mainMenu {
  text-align: center;
}

.mainMenu:before,
.mainMenu:after {
  content: "";
  width: 50px;
  height: 0;
  top: 8px;
  /* border-top: 18px solid #5A394E;
  border-bottom: 18px solid #5A394E; */
  transform: rotate(360deg);
  z-index: -1;
}

.mainMenu:before {
  left: -30px;
  border-left: 12px solid rgba(255, 255, 255, 0);
}

.mainMenu:after {
  right: -30px;
  border-right: 12px solid rgba(255, 255, 255, 0);
}

.menuButton {
  text-decoration: none;
  display: inline-block;
  padding: 30px;
  font-family: 'Neue Machina';
  font-size: 20px;
  font-weight: 200;
  border: 0px;
  background-color: transparent;
  color: black;
  transition: .3s linear;
}

.subMenu {
  font-family: 'Neue Machina';
  font-size: 20px;
  font-weight: 200;
  transition: .3s linear;
}

.menuButton.current,
.menuButton:hover {
  background: rgba(229, 13, 13, 0.2);
}

.menuSubButton {
  text-align: center;
}

#payHide {
  --visionMode: none;
  display: var(--visionMode);
}

#deleveryHide {
  --visionMode: none;
  display: var(--visionMode);
}

#contactsHide {
  --visionMode: none;
  display: var(--visionMode);
}

.candleText {
  /* ЛЕДЕНЦЫ */
  padding-left: 20%;
  padding-bottom: 0px;
  font-family: 'MuseoModerno';
  font-weight: 800;
  font-size: 120px;
  /* identical to box height */
  letter-spacing: -0.045em;
  color: #FF637C;
}

.candleText2 {
  /* НА ПАЛОЧКЕ */
  margin-top: -25px;
  margin-left: 40%;
  font-family: 'Neue Machina';
  font-weight: 800;
  font-size: 90px;
  letter-spacing: -0.055em;
  color: #000000;
}

.text {
  margin-top: 20px;
  margin-left: 22%;
  margin-right: 30%;
  font-family: 'Neue Machina';
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: #000000;
}

.catalogBtn {
  position: relative;
  margin-top: 40px;
  margin-bottom: 35px;
  margin-left: calc(46% - 285px/2);
  font-size: 20px;
  width: 285px;
  height: 66px;
  background: #FF637C;
  border-radius: 30px;
  border-color: rgb(180, 180, 180);
}

.catalogBtn::before {
  transition: all 0.75s ease;
  content: '';
  width: 0%;
  height: 100%;
  border-radius: 30px;
  background: rgba(255, 255, 255, 0.3);
  position: absolute;
  top: 0;
  left: 0;
}

.catalogBtn:hover::before {
  width: 100%;
  background: rgba(255, 255, 255, 0.3);
}

#hand {
  display: inline-block;
  width: 55.5px;
  vertical-align: top;
}

#house {
  display: inline-block;
  width: 55.5px;
  vertical-align: top;
  margin-right: 15px;
  margin-left: 40px;
}

.toolsText{
  font-family: 'Neue Machina';
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}