body {
    background: url("bg.jpg");
    background-repeat: repeat;
    background-size: 100%;
}

li {
    display: inline-block;
    list-style: none;
    /* border: 1px red solid; */
    vertical-align: top;
    padding-top: 4px;
}

ul {
    text-align: center;
}

.li4 {
    padding-left: 50px;
    padding-right: 50px;
}

.li3 {
    padding-left: 80px;
    padding-right: 80px;
}

.mainHeader {
    /* КАТАЛОГ ЛЕДЕНЦОВ */
    font-family: 'MuseoModerno';
    display: block;
    font-weight: 800;
    font-size: 70px;
    line-height: 127px;
    text-align: center;
    letter-spacing: -0.045em;
}

.gradient {
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: radial-gradient(31.82% 1316.63% at 44.19% 49.61%, #F7FC14 0%, #FD8E91 100%)
}

.subHeader {
    /* ЛЕДЕНЦЫ НА ЗАКРУТКАХ */
    font-family: 'MuseoModerno';
    font-weight: 800;
    font-size: 32px;
    line-height: 57px;
    text-align: center;
    letter-spacing: -0.045em;
    color: #FE4B51;
}

.prettyText {
    /* Text */
    font-family: 'Neue Machina';
    font-weight: 400;
    font-size: 24px;
    line-height: 23px;
    text-align: center;
    letter-spacing: -0.045em;
    color: #000000;
}