.bg.jpg {
/* ФОН */
position: absolute;
width: 1905px;
height: 1169px;
left: 8px;
top: -2px;
}

.historyText {
 /* ИСТОРИЯ ЛЕДЕНЦОВ НА ПАЛОЧКЕ */
    position: absolute;
    height: 127px;       
    font-family: 'MuseoModerno';
    font-style: normal;
    font-weight: 80px;
    font-size: 80px;
    line-height: 127px;
    letter-spacing: -0.045em;
}

.candleText2 {
    position: absolute;
    width: max-content;
    height: 57px;
    top: 237px;

    font-family: 'MuseoModerno';
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 57px;
    text-align: center;
    letter-spacing: -0.045em;
    left: 50%;
}

.candleText3 {
    position: absolute;
    width: 679px;
    height: 57px;
    left: calc(50% - 679px/2 - 0.5px);
    top: 692px;

    font-family: 'MuseoModerno';
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 57px;
    text-align: center;
    letter-spacing: -0.045em;
} 

@import url('D:\Сайты\candleSite\historyPage\bg.jpg');

.historyTable {
    position: relative;
    height: 225px;
    left: 500px;
    width: 100px;
    top: 337px;
}

.historyTable2 {
    position: absolute;
    height: 23px;
    left: 50%;
    top: 592px;

    font-family: 'Neue Machina';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 23px;
    text-align: center;
    letter-spacing: -0.045em;
    color: #000000;
}
.historyTable3 {
    position: absolute;
    width: 1041px;
    height: 175px;
    left: 50%;
    top: 786px;
}
.historyTable4 {
    position: absolute;
    width: 1256px;
    height: 60px;
    left: 50%;
    top: 1004px;

    font-family: 'Neue Machina';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 126.5%;
    /* or 30px */
    text-align: center;
    letter-spacing: 0.025em;
    color: #000000;
}
.historyTable5 {
    position: absolute;
    width: 1256px;
    height: 60px;
    left: 50%;
    top: 1004px;
}