.bg.jpg {
/* baground pic */
    position: absolute;
    width: 1941.45px;
    height: 1220.38px;
    left: -12.25px;
    top: -5.66px;
    background: url(58931.jpg);
    transform: rotate(-1.25deg);
}

.historyText {
 /* ИСТОРИЯ ЛЕДЕНЦОВ НА ПАЛОЧКЕ */
    position: absolute;
    width: 801px;
    height: 37px;
    left: 476px;
    top: 0;

    font-family: 'Neue Machina';
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 92.5%;
    color: #FE4B51;
}

.historyText2 {
    /* Первые леденцы на палочке */
    position: absolute;
    width: max-content;
    height: 57px;
    top: 50px;

    font-family: 'MuseoModerno';
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 57px;
    text-align: center;
    letter-spacing: -0.045em;
    left: 50%;
    transform: translate(-50%);
    color: #FE4B51;
}

.historyText3 {
    /* Американские леденцы lollipop */
    position: absolute;
    width: max-content;
    height: 57px;
    top: 200px;

    font-family: 'MuseoModerno';
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 57px;
    text-align: center;
    letter-spacing: -0.045em;
    left: 50%;
    transform: translate(-50%);
    color: #FE4B51;
}

.historyText4 {
    /* Петушки на палочках в России */
    position: absolute;
    width: max-content;
    height: 57px;
    top: 350px;

    font-family: 'MuseoModerno';
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 57px;
    text-align: center;
    letter-spacing: -0.045em;
    left: 50%;
    transform: translate(-50%);
    color: #FE4B51;
}
@import url('D:\Сайты\candleSite\historyPage\bg.jpg');

.historyTable {
   /* тигр */
   position: absolute;
    width: 1460px;
    height: 323px;
    left: 72px;
    top: 121px;
    margin-bottom: 500px;
}
.candleTable2 {
    position: absolute;
    width: 1467px;
    height: 327px;
    left: 256px;
    top: 469px;
    margin-bottom: 400px;
}

.historyTable3 {
    position: absolute;
    width: 1447px;
    height: 300px;
    left: 84px;
    top: 822px;
    margin-bottom: 300px;
}

/* .candleTable4 {
    /* text of england */
    position: absolute;
    width: 1013px;
    height: 322px;
    left: 188px;
    top: 475px;

    position: absolute;
    width: 752px;
    height: 196px;
    left: 356px;
    top: 538px;

    font-family: 'Laila';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 139.5%;
    /* or 28px */
    text-align: center;
    letter-spacing: 0.31em;
    color: #000000;
} 
.historyTable5 {
    /* мальчик с петушком */
    position: absolute;
    width: 458px;
    height: 300px;
    left: 1073px;
    top: 822px;
    background: url(petushok-na-palochke-60-gr-1-1.jpg);
    border-radius: 59px;
}

.candleTable6 {
    /* text of russia */
    position: absolute;
    width: 1013px;
    height: 322px;
    left: -2px;
    top: 797px;
    position: absolute;

    width: 869px;
    height: 224px;
    left: 84px;
    top: 868px;

    font-family: 'Laila';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 139.5%;
    /* or 28px */
    text-align: center;
    letter-spacing: 0.31em;
    color: #000000;
    } */